.jumbotron {
    max-width: 960px;
    margin: 0 auto;
    border: 4px dotted darkgrey;
    border-bottom: 10px solid black;
}

body {
    background-color: lightcoral;
}

h2 {
    margin-bottom: 25px;
}

.display-4 {
    font-size: 60px;
    font-weight: bold;
}

#generate {
    background-color: orange;
    box-shadow: none;
    border: none;
    padding: 5px;
    color: #fff;
    margin-bottom: 10px;
}

#passwordSpot {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 25px;
    background-color: white;
    border: 4px dotted darkgray;
    border-top: none;
}

#copy {
    padding: 5px;
    margin-bottom: 10px;
    border: none;
}

.content {
    margin: 10% 5% 10% 5%;
}
